@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body {
    background-color: black;
}

.container {
    padding: 30px 100px;
}

.container div{
    color: green;
    font-size: 30px;
    padding: 5px 50px;
}